In [1]:
import numpy as np
import pandas as pd
import sklearn.impute , sklearn.preprocessing
import seaborn 
import matplotlib.pyplot as plt

In [2]:
data_train = pd.read_csv('../work/data/high_salary_train.csv').set_index('id')
data_train

,social-security-number,house-number,age-group,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native-country-code,native-country,label
id,,,,,,,,,,,,,,,,,,
26890,987463818.0,5066.0,3.0,state-gov,327886.0,doctorate,16.0,divorced,prof-specialty,own-child,white,male,0.0,0.0,3.0,USA,united-states,1.0
933,884327274.0,6423.0,3.0,private,99736.0,masters,14.0,divorced,prof-specialty,unmarried,white,male,4.0,0.0,3.0,USA,united-states,1.0
25596,397372044.0,9074.0,2.0,private,398575.0,some-college,10.0,never-married,tech-support,unmarried,white,female,0.0,0.0,2.0,USA,united-states,0.0
12949,580119132.0,413.0,2.0,private,682947.0,bachelors,13.0,divorced,exec-managerial,not-in-family,white,male,0.0,0.0,3.0,USA,united-states,1.0
6681,836161922.0,1790.0,1.0,private,236861.0,hs-grad,9.0,married-civ-spouse,machine-op-inspct,husband,white,male,0.0,0.0,2.0,USA,united-states,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8695,181655516.0,361.0,0.0,private,42706.0,some-college,10.0,never-married,prof-specialty,not-in-family,white,male,0.0,0.0,2.0,USA,united-states,0.0
2192,796404433.0,950.0,2.0,local-gov,103759.0,some-college,10.0,married-civ-spouse,transport-moving,husband,white,male,2.0,0.0,2.0,USA,united-states,0.0
8250,622635909.0,8689.0,0.0,private,316184.0,hs-grad,9.0,never-married,other-service,other-relative,black,male,0.0,0.0,2.0,USA,united-states,0.0
18511,338364928.0,5238.0,2.0,private,481987.0,masters,14.0,married-civ-spouse,tech-support,husband,white,male,0.0,0.0,0.0,USA,united-states,1.0
16074,657404344.0,8745.0,2.0,self-emp-not-inc,75065.0,12th,8.0,married-civ-spouse,exec-managerial,husband,asian-pac-islander,male,0.0,0.0,3.0,VNM,vietnam,0.0

In [3]:
data_test = pd.read_csv('../work/data/high_salary_test.csv').set_index('id')
data_test

,social-security-number,house-number,age-group,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native-country-code,native-country,label
id,,,,,,,,,,,,,,,,,,
12849,335086368.0,4170.0,1.0,private,509500.0,bachelors,13.0,never-married,tech-support,not-in-family,white,female,2.0,0.0,2.0,USA,united-states,1.0
1460,732733728.0,5442.0,0.0,private,243368.0,preschool,1.0,never-married,farming-fishing,not-in-family,white,male,0.0,0.0,3.0,MEX,mexico,0.0
13594,807579036.0,7659.0,2.0,private,144524.0,hs-grad,9.0,divorced,machine-op-inspct,unmarried,black,female,0.0,0.0,2.0,USA,united-states,0.0
14400,201637967.0,4318.0,3.0,private,150975.0,hs-grad,9.0,divorced,machine-op-inspct,not-in-family,amer-indian-eskimo,female,NaN,0.0,2.0,USA,united-states,0.0
14333,758267678.0,8392.0,2.0,private,136419.0,hs-grad,9.0,married-civ-spouse,craft-repair,husband,white,male,0.0,0.0,3.0,USA,united-states,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21121,793510081.0,3995.0,3.0,private,48358.0,hs-grad,9.0,married-civ-spouse,craft-repair,husband,white,male,0.0,0.0,2.0,USA,united-states,1.0
12348,922922461.0,9297.0,2.0,private,163215.0,bachelors,13.0,divorced,exec-managerial,not-in-family,white,female,4.0,0.0,2.0,USA,united-states,1.0
22298,455309825.0,8674.0,3.0,private,196328.0,bachelors,13.0,married-civ-spouse,exec-managerial,husband,black,male,0.0,0.0,2.0,USA,united-states,0.0
15636,382989583.0,2765.0,1.0,private,225231.0,some-college,10.0,divorced,exec-managerial,not-in-family,white,male,3.0,0.0,3.0,USA,united-states,1.0
5497,452206005.0,9558.0,0.0,private,308205.0,some-college,10.0,never-married,exec-managerial,own-child,NaN,male,0.0,0.0,2.0,USA,united-states,0.0

In [4]:
data_live = pd.read_csv('../work/data/high_salary.live.csv').set_index('id')
data_live

,social-security-number,house-number,age-group,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native-country-code,native-country
id,,,,,,,,,,,,,,,,,
6111,565712576.0,9337.0,0.0,private,287357.0,11th,7.0,married-civ-spouse,protective-serv,husband,white,male,0.0,0.0,2.0,USA,united-states
11214,329599477.0,6457.0,1.0,private,167558.0,hs-grad,9.0,never-married,sales,unmarried,white,female,0.0,0.0,1.0,MEX,mexico
5554,222432362.0,189.0,4.0,private,27385.0,hs-grad,9.0,married-civ-spouse,exec-managerial,husband,white,male,0.0,0.0,3.0,USA,united-states
25131,209882990.0,2048.0,2.0,local-gov,153976.0,masters,14.0,married-civ-spouse,prof-specialty,husband,white,male,0.0,0.0,2.0,USA,united-states
14324,936607310.0,8185.0,3.0,private,20956.0,hs-grad,9.0,married-civ-spouse,craft-repair,husband,white,male,0.0,0.0,2.0,USA,united-states
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25998,331613078.0,6349.0,4.0,private,117898.0,bachelors,13.0,married-civ-spouse,exec-managerial,husband,white,male,0.0,0.0,3.0,USA,united-states
8375,353499588.0,5768.0,4.0,private,298546.0,hs-grad,9.0,married-civ-spouse,farming-fishing,husband,white,male,0.0,0.0,4.0,USA,united-states
13888,604365500.0,6286.0,1.0,private,36340.0,11th,7.0,divorced,other-service,unmarried,white,female,0.0,0.0,1.0,USA,united-states
4159,258361593.0,5369.0,1.0,private,173473.0,masters,14.0,married-civ-spouse,prof-specialty,husband,asian-pac-islander,male,0.0,0.0,2.0,USA,united-states
9658,987175237.0,212.0,0.0,NaN,199426.0,some-college,10.0,never-married,NaN,not-in-family,white,female,0.0,0.0,2.0,USA,united-states

In [5]:
# Check Missing Value

In [6]:
data_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16720 entries, 26890 to 16074
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   social-security-number  16708 non-null  float64
 1   house-number            16700 non-null  float64
 2   age-group               16713 non-null  float64
 3   workclass               15873 non-null  object
 4   fnlwgt                  16703 non-null  float64
 5   education               16704 non-null  object
 6   education-num           16708 non-null  float64
 7   marital-status          16699 non-null  object
 8   occupation              15875 non-null  object
 9   relationship            16705 non-null  object
 10  race                    16706 non-null  object
 11  sex                     16705 non-null  object
 12  capitalgain             16700 non-null  float64
 13  capitalloss             16706 non-null  float64
 14  hoursperweek            16701 non-null  float64
 15  native-country-code     16398 non-null  object
 16  native-country          16397 non-null  object
 17  label                   16720 non-null  float64
dtypes: float64(9), object(9)
memory usage: 2.4+ MB

In [7]:
data_test.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4180 entries, 12849 to 5497
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   social-security-number  4178 non-null   float64
 1   house-number            4173 non-null   float64
 2   age-group               4174 non-null   float64
 3   workclass               3970 non-null   object
 4   fnlwgt                  4174 non-null   float64
 5   education               4176 non-null   object
 6   education-num           4178 non-null   float64
 7   marital-status          4178 non-null   object
 8   occupation              3971 non-null   object
 9   relationship            4174 non-null   object
 10  race                    4172 non-null   object
 11  sex                     4173 non-null   object
 12  capitalgain             4177 non-null   float64
 13  capitalloss             4173 non-null   float64
 14  hoursperweek            4178 non-null   float64
 15  native-country-code     4103 non-null   object
 16  native-country          4105 non-null   object
 17  label                   4180 non-null   float64
dtypes: float64(9), object(9)
memory usage: 620.5+ KB

In [8]:
data_live.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6967 entries, 6111 to 9658
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   social-security-number  6965 non-null   float64
 1   house-number            6958 non-null   float64
 2   age-group               6954 non-null   float64
 3   workclass               6622 non-null   object
 4   fnlwgt                  6963 non-null   float64
 5   education               6960 non-null   object
 6   education-num           6959 non-null   float64
 7   marital-status          6958 non-null   object
 8   occupation              6620 non-null   object
 9   relationship            6954 non-null   object
 10  race                    6960 non-null   object
 11  sex                     6960 non-null   object
 12  capitalgain             6959 non-null   float64
 13  capitalloss             6957 non-null   float64
 14  hoursperweek            6954 non-null   float64
 15  native-country-code     6845 non-null   object
 16  native-country          6844 non-null   object
dtypes: float64(8), object(9)
memory usage: 979.7+ KB

In [9]:
#อธิบายว่าทำไมถึงเอาUnnamed: 0 ออก(เป็นfae ที่เกินมาจาก dataset เดิมหลังจากใช้ตัวtrain_test_split)

In [10]:
data_train = data_train.drop(columns=['Unnamed: 0'])
data_train

KeyError: "['Unnamed: 0'] not found in axis"

In [ ]:
data_test = data_test.drop(columns=['Unnamed: 0'])
data_test

In [ ]:
data_train.isnull().sum()

In [ ]:
data_test.isnull().sum()

In [ ]:
data_live.isnull().sum()

In [ ]:
data_train['label'].value_counts()

In [ ]:
data_test['label'].value_counts()

In [ ]:
seaborn.heatmap(data_train.isnull(),cbar=False,cmap='tab20')
plt.show()

In [ ]:
seaborn.heatmap(data_test.isnull(),cbar=False,cmap='cool')
plt.show()

In [ ]:
seaborn.heatmap(data_live.isnull(),cbar=False,cmap='summer')
plt.show()

In [ ]:
#พอดูจากกราฟ ก็จะได้ข้อสรุปว่าควรจัดการ missing ยังไง แต่ขั้นตอนตอนต่อไปคือ แบ่งเป็น cat,num

In [ ]:
from sklearn.impute import SimpleImputer

In [ ]:
categorical_features_train = data_train.select_dtypes(include=['object', 'category']).columns
categorical_features_train

In [ ]:
categorical_features_test = data_test.select_dtypes(include=['object', 'category']).columns
categorical_features_test

In [ ]:
categorical_features_live = data_live.select_dtypes(include=['object', 'category']).columns
categorical_features_live

In [ ]:
categorical_features_data_train = data_train[categorical_features_train]
categorical_features_data_train

In [ ]:
categorical_features_data_test = data_test[categorical_features_test]
categorical_features_data_test

In [ ]:
categorical_features_data_live = data_live[categorical_features_live]
categorical_features_data_live

In [ ]:
categorical_impute= SimpleImputer(strategy='most_frequent')
categorical_impute

In [ ]:
categorical_impute.fit(categorical_features_data_train)

In [ ]:
categorical_features_data_train = pd.DataFrame(
    data = categorical_impute.transform(categorical_features_data_train),
    columns = categorical_impute.get_feature_names_out(),
    index = categorical_features_data_train.index
)
categorical_features_data_train

In [ ]:
categorical_features_data_test = pd.DataFrame(
    data = categorical_impute.transform(categorical_features_data_test),
    columns = categorical_impute.get_feature_names_out(),
    index = categorical_features_data_test.index
)
categorical_features_data_test

In [ ]:
categorical_features_data_live = pd.DataFrame(
    data = categorical_impute.transform(categorical_features_data_live),
    columns = categorical_impute.get_feature_names_out(),
    index = categorical_features_data_live.index
)
categorical_features_data_live

In [ ]:
categorical_features_data_train.isnull().sum()

In [ ]:
categorical_features_data_test.isnull().sum()

In [ ]:
categorical_features_data_live.isnull().sum()

In [ ]:
numerical_features_train = data_train.select_dtypes(include=['number']).columns
numerical_features_train

In [ ]:
numerical_features_test = data_test.select_dtypes(include=['number']).columns
numerical_features_test

In [ ]:
numerical_features_live = data_live.select_dtypes(include=['number']).columns
numerical_features_live

In [ ]:
numerical_features_data_train = data_train[numerical_features_train]
numerical_features_data_train

In [ ]:
numerical_features_data_test = data_test[numerical_features_test]
numerical_features_data_test

In [ ]:
numerical_features_data_live = data_live[numerical_features_live]
numerical_features_data_live