In [1]:
import pandas
import joblib

In [2]:
data_live_features = pandas.read_csv('./data/features.live.csv').set_index('id')
data_live_features

,age-group,education-num,capitalgain,capitalloss,hoursperweek,workclass,education,marital-status,occupation,relationship,...,relationship_husband,relationship_wife,relationship_other-relative,race_white,race_black,race_asian-pac-islander,race_other,race_amer-indian-eskimo,sex_male,sex_female
id,,,,,,,,,,,,,,,,,,,,,
6111,-1.558476,-1.347508,-0.329532,-0.23238,-0.096050,1.0,9.0,2.0,10.0,3.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
11214,-0.742622,-0.569847,-0.329532,-0.23238,-1.275694,1.0,4.0,1.0,4.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
5554,1.704938,-0.569847,-0.329532,-0.23238,1.083594,1.0,4.0,2.0,2.0,3.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
25131,0.073231,1.374304,-0.329532,-0.23238,-0.096050,5.0,1.0,2.0,0.0,3.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
14324,0.889085,-0.569847,-0.329532,-0.23238,-0.096050,1.0,4.0,2.0,6.0,3.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15056,0.889085,-0.181017,-0.329532,-0.23238,-1.275694,3.0,2.0,2.0,8.0,4.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
25998,1.704938,0.985474,-0.329532,-0.23238,1.083594,1.0,3.0,2.0,2.0,3.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
8375,1.704938,-0.569847,-0.329532,-0.23238,2.263238,1.0,4.0,2.0,11.0,3.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
13888,-0.742622,-1.347508,-0.329532,-0.23238,-1.275694,1.0,9.0,0.0,7.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
4159,-0.742622,1.374304,-0.329532,-0.23238,-0.096050,1.0,1.0,2.0,0.0,3.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0

In [3]:
model = joblib.load('./model/model.joblib')
model

RandomForestClassifier(criterion='entropy', random_state=0)

In [8]:
# data_live_predictions= pandas.DataFrame(
#     data= model.predict(data_live_features),
#    index=data_live_features.index,
#    columns=['predictions']
# )
# data_live_predictions

       predictions
id
6111           0.0
11214          0.0
5554           1.0
25131          1.0
14324          1.0
...            ...
15056          1.0
25998          1.0
8375           0.0
13888          0.0
4159           1.0

[6389 rows x 1 columns]

In [12]:
data_live_predictions= pandas.DataFrame({
  'id': data_live_features.index,
'prediction': model.predict(data_live_features)
})
data_live_predictions

         id  prediction
0      6111         0.0
1     11214         0.0
2      5554         1.0
3     25131         1.0
4     14324         1.0
...     ...         ...
6384  15056         1.0
6385  25998         1.0
6386   8375         0.0
6387  13888         0.0
6388   4159         1.0

[6389 rows x 2 columns]

In [13]:
data_live_predictions= pandas.DataFrame(
    data= model.predict(data_live_features),
   index=data_live_features.index,
   columns=['prediction']).reset_index()
data_live_predictions.columns = ['id', 'predictions']

data_live_predictions

         id  predictions
0      6111          0.0
1     11214          0.0
2      5554          1.0
3     25131          1.0
4     14324          1.0
...     ...          ...
6384  15056          1.0
6385  25998          1.0
6386   8375          0.0
6387  13888          0.0
6388   4159          1.0

[6389 rows x 2 columns]